<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">
            <h1>Word Frequency Counter</h1>
            <h3>Number of time(s) {{ find }} appears in the sentence you entered: {{ result }} </h3>
            <form action="/" method="get">
                <button class="btn btn-info" type="submit" name="button">Go Home</button>
            </form>
        </div>

    </body>
</html>
